
data/extraction/papers/33888066.pdf
data/extraction/papers/33893547.pdf
data/extraction/papers/35410135.pdf
data/extraction/papers/36199042.pdf
data/extraction/papers/36253754.pdf
data/extraction/papers/36849930.pdf
data/extraction/papers/38441668.pdf
data/extraction/papers/38698306.pdf
data/extraction/papers/38762648.pdf
data/maps/terr-ecoregions-TNC/tnc_terr_ecoregions.sbx
data/maps/terr-ecoregions-TNC/tnc_terr_ecoregions.lyr
data/maps/terr-ecoregions-TNC/tnc_terr_ecoregions.dbf
data/maps/terr-ecoregions-TNC/tnc_terr_ecoregions.prj
data/maps/terr-ecoregions-TNC/tnc_terr_ecoregions.sbn
data/maps/terr-ecoregions-TNC/tnc_terr_ecoregions.shp
data/maps/terr-ecoregions-TNC/tnc_terr_ecoregions.shp.xml
data/maps/terr-ecoregions-TNC/tnc_terr_ecoregions.shx
data/maps/tm_ecoregions_2017/tm_ecoregions_2017.cst
data/maps/tm_ecoregions_2017/tm_ecoregions_2017.dbf
data/maps/tm_ecoregions_2017/tm_ecoregions_2017.prj
data/maps/tm_ecoregions_2017/tm_ecoregions_2017.shp
data/maps/tm_ecoregions_2017/tm_ecoregions_2017.shx
data/maps/tm_ecoregions_2017/wfsrequest.txt
data/maps/vegetation_classification_and_survey-004-059-s001/biomes_world.cpg
data/maps/vegetation_classification_and_survey-004-059-s001/biomes_world.dbf
data/maps/vegetation_classification_and_survey-004-059-s001/biomes_world.geojson
data/maps/vegetation_classification_and_survey-004-059-s001/biomes_world.kml
data/maps/vegetation_classification_and_survey-004-059-s001/biomes_world.prj
data/maps/vegetation_classification_and_survey-004-059-s001/biomes_world.shp
data/maps/vegetation_classification_and_survey-004-059-s001/biomes_world.shx
data/maps/vegetation_classification_and_survey-004-059-s001/biomes_world_style.qml
